In [1]:
#run wget command for downloding enrn email data
!wget https://www.cs.cmu.edu/~./enron/enron_mail_20150507.tar.gz

--2023-05-28 12:48:43--  https://www.cs.cmu.edu/~./enron/enron_mail_20150507.tar.gz
Resolving www.cs.cmu.edu (www.cs.cmu.edu)... 128.2.42.95
Connecting to www.cs.cmu.edu (www.cs.cmu.edu)|128.2.42.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 443254787 (423M) [application/x-gzip]
Saving to: ‘enron_mail_20150507.tar.gz’

enron_mail_20150507 100%[===================>] 422.72M   652KB/s    in 17m 13s

2023-05-28 13:05:57 (419 KB/s) - ‘enron_mail_20150507.tar.gz’ saved [443254787/443254787]

In [2]:
#import library sqlite3
import sqlite3

In [3]:
#establish connection with database
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [4]:
#create cursor object
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [5]:
#check schema of database
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Retrieve the schema of the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names and their respective schema
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    for column in columns:
        column_name = column[1]
        data_type = column[2]
        print(f"- {column_name}: {data_type}")
    print()

In [6]:
#check scheme of table - employeelist
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Retrieve the schema of the "employeelist" table
cursor.execute("PRAGMA table_info(employeelist);")
columns = cursor.fetchall()

# Print the column names and their respective data types
print("Schema of employeelist table:")
for column in columns:
    column_name = column[1]
    data_type = column[2]
    print(f"- {column_name}: {data_type}")

# Close the database connection
conn.close()

Schema of employeelist table:

In [7]:
#check schema of table - message
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Retrieve the schema of the "message" table
cursor.execute("PRAGMA table_info(message);")
columns = cursor.fetchall()

# Print the column names and their respective data types
print("Schema of message table:")
for column in columns:
    column_name = column[1]
    data_type = column[2]
    print(f"- {column_name}: {data_type}")

# Close the database connection
conn.close()

Schema of message table:

In [8]:
#check scheme of table - referenceinfo
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Retrieve the schema of the "referenceinfo" table
cursor.execute("PRAGMA table_info(referenceinfo);")
columns = cursor.fetchall()

# Print the column names and their respective data types
print("Schema of referenceinfo table:")
for column in columns:
    column_name = column[1]
    data_type = column[2]
    print(f"- {column_name}: {data_type}")

# Close the database connection
conn.close()

Schema of referenceinfo table:

In [12]:
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Retrieve the schema of the "recipientinfo" table
cursor.execute("PRAGMA table_info(recipientinfo);")
columns = cursor.fetchall()

# Print the column names and their respective data types
print("Schema of recipientinfo table:")
for column in columns:
    column_name = column[1]
    data_type = column[2]
    print(f"- {column_name}: {data_type}")

# Close the database connection

Schema of recipientinfo table:

In [11]:
#import library - pandas
import pandas as pd

In [15]:
#check date format by writing an sql query to fetch one record from message table
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Fetch one record from the Message table
cursor.execute("SELECT * FROM Message LIMIT 1;")
record = cursor.fetchone()

# Print the record to check the date format
print(record)

# Close the database connection
conn.close()

OperationalError: ignored

In [14]:
# Fetch the table names from the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

In [16]:
#check whether there are null values in the record
import sqlite3

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Fetch one record from the Message table
cursor.execute("SELECT * FROM Message LIMIT 1;")
record = cursor.fetchone()

# Check for null values in the record
has_null_values = any(value is None for value in record)

# Print the result
if has_null_values:
    print("The record contains null values.")
else:
    print("The record does not contain null values.")

# Close the database connection
conn.close()

OperationalError: ignored

In [ ]:
#write sql query to count number of emails per day using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#import library matplotlib and seaborn
#plot graph
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count number of emails per day
sql_query = """
SELECT strftime('%Y-%m-%d', date) AS day, COUNT(*) AS email_count
FROM Message
GROUP BY day
ORDER BY day;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
sns.set(style="darkgrid")
plt.figure(figsize=(12, 6))
plt.plot(df['day'], df['email_count'], marker='o')
plt.xticks(rotation=45)
plt.xlabel('Day')
plt.ylabel('Email Count')
plt.title('Number of Emails per Day')
plt.show()

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into email patterns per day.
# For example, you can calculate the average, maximum, or minimum number of emails per day, or identify any notable spikes or trends in the data.

# Close the database connection
conn.close()

In [ ]:
#write sql query to count number of emails per week using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#plot graph
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count number of emails per week
sql_query = """
SELECT strftime('%Y-%W', date) AS week, COUNT(*) AS email_count
FROM Message
GROUP BY week
ORDER BY week;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
sns.set(style="darkgrid")
plt.figure(figsize=(12, 6))
plt.plot(df['week'], df['email_count'], marker='o')
plt.xticks(rotation=45)
plt.xlabel('Week')
plt.ylabel('Email Count')
plt.title('Number of Emails per Week')
plt.show()

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into email patterns per week.
# For example, you can calculate the average, maximum, or minimum number of emails per week, or identify any notable spikes or trends in the data.

# Close the database connection
conn.close()

In [ ]:
#write sql query to count number of emails per month using strftime and COUNT() 
#convert data in dataframe
#display the dataframe
#plot graph using subplots() and lineplot()
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count number of emails per month
sql_query = """
SELECT strftime('%Y-%m', date) AS month, COUNT(*) AS email_count
FROM Message
GROUP BY month
ORDER BY month;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
sns.set(style="darkgrid")
fig, ax = plt.subplots(figsize=(12, 6))
sns.lineplot(x='month', y='email_count', data=df, marker='o', ax=ax)
ax.set_xticklabels(df['month'], rotation=45)
ax.set_xlabel('Month')
ax.set_ylabel('Email Count')
ax.set_title('Number of Emails per Month')

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into email patterns per month.
# For example, you can calculate the average, maximum, or minimum number of emails per month, or identify any notable spikes or trends in the data.

# Close the database connection
conn.close()

In [ ]:
#write sql query to count top sender using count()
#convert data in dataframe
#display the dataframe
#plot graph using barplot() and show()
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count the number of emails sent by each sender
sql_query = """
SELECT sender, COUNT(*) AS email_count
FROM Message
GROUP BY sender
ORDER BY email_count DESC
LIMIT 10;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
sns.set(style="darkgrid")
fig, ax = plt.subplots(figsize=(12, 6))
sns.barplot(x='email_count', y='sender', data=df, ax=ax)
ax.set_xlabel('Number of Emails')
ax.set_ylabel('Sender')
ax.set_title('Top 10 Email Senders')

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into the top senders.
# For example, you can calculate the percentage of emails sent by each sender, or compare the email counts of the top senders with the overall email distribution.

# Close the database connection
conn.close()

In [ ]:
#write sql query to count top recipient using count()
#convert data in dataframe
#display the dataframe
#plot graph using barplot() and show()
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count the number of emails received by each recipient
sql_query = """
SELECT rvalue AS recipient, COUNT(*) AS email_count
FROM Recipientinfo
WHERE rtype = 'to' -- Consider only emails sent directly to recipients
GROUP BY recipient
ORDER BY email_count DESC
LIMIT 10;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
sns.set(style="darkgrid")
fig, ax = plt.subplots(figsize=(12, 6))
sns.barplot(x='email_count', y='recipient', data=df, ax=ax)
ax.set_xlabel('Number of Emails')
ax.set_ylabel('Recipient')
ax.set_title('Top 10 Email Recipients')

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into the top recipients.
# For example, you can calculate the percentage of emails received by each recipient, or compare the email counts of the top recipients with the overall email distribution.

# Close the database connection
conn.close()

In [ ]:
#write sql query to categorize by rtype using count
#convert data in dataframe
#display the dataframe
#plot graph using pie() and show()
#perform analysis 
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Establish a connection to the SQLite database file
conn = sqlite3.connect('enron_emails.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Write SQL query to count the number of emails for each recipient type (rtype)
sql_query = """
SELECT rtype, COUNT(*) AS email_count
FROM Recipientinfo
GROUP BY rtype;
"""

# Execute the SQL query and fetch the results into a DataFrame
df = pd.read_sql_query(sql_query, conn)

# Display the DataFrame
print(df)

# Plot the graph
fig, ax = plt.subplots(figsize=(6, 6))
ax.pie(df['email_count'], labels=df['rtype'], autopct='%1.1f%%', startangle=90)
ax.set_title('Email Distribution by Recipient Type')

# Perform analysis on the data
# You can perform further analysis on the 'df' DataFrame to gain insights into the email distribution by recipient type.
# For example, you can compare the proportions of emails sent to each recipient type, or analyze the trends in email distribution over time for different recipient types.

# Close the database connection
conn.close()